*~
draft-jennings-strint-secure-cloud.html
draft-jennings-strint-secure-cloud.pdf
draft-jennings-strint-secure-cloud.txt
draft-jennings-strint-secure-cloud.xml
draft-jennings-perpass-secure-rai-cloud-??.html
draft-jennings-perpass-secure-rai-cloud-??.pdf
draft-jennings-perpass-secure-rai-cloud-??.txt
draft-jennings-perpass-secure-rai-cloud-??.xml
