{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"></link>

<script src="https://raw.github.com/documentcloud/underscore/master/underscore.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>

<!-- <script src="https://ietfvote.appspot.com/static/js/ba_rate.js"></script> -->
<script src="https://raw.github.com/fluffy/ietf/master/ietfvote/static/js/ba_rate.js"></script>
<style type="text/css">
body { font: sans-serif; }
#contents { position: relative;}
#rating { position: absolute; left: 10px; top: 10px; width: 40px; }
#rating-slider { height: 250px; }
#rating > * { margin: 8px auto; }
#container { margin-left: 50px; height: 500px; min-width: 500px; }
div[title] { text-align: center; font-size: 150%; font-weight: bold; }
</style>

{% endblock %}


{% block content %}
<div id="rating"><div>Your rating:</div> <div title="OK">+</div><div id="rating-slider"></div><div title="Crap">-</div></div>
<div id="users"></div>

<div id="container">Loading...</div>

<script>
$(function() {
    startup('container');
});
</script>

{% endblock %}
