<?xml version="1.0" encoding="UTF-8"?>
<!--567890123456789012345678901234567890123456789012345678901234567-->

<overlay xmlns="urn:ietf:params:xml:ns:p2p:config-base"
   xmlns:ext="urn:ietf:params:xml:ns:p2p:config-ext1"
   xmlns:chord="urn:ietf:params:xml:ns:p2p:config-chord">
   <configuration instance-name="overlay.example.org" sequence="22"
       expiration="2002-10-10T07:00:00Z" ext:ext-example="stuff" >
       <topology-plugin> CHORD-RELOAD </topology-plugin>
       <node-id-length>16</node-id-length>
       <root-cert>
MIIDJDCCAo2gAwIBAgIBADANBgkqhkiG9w0BAQUFADBwMQswCQYDVQQGEwJVUzET
MBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxDjAMBgNVBAoT
BXNpcGl0MSkwJwYDVQQLEyBTaXBpdCBUZXN0IENlcnRpZmljYXRlIEF1dGhvcml0
eTAeFw0wMzA3MTgxMjIxNTJaFw0xMzA3MTUxMjIxNTJaMHAxCzAJBgNVBAYTAlVT
MRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEOMAwGA1UE
ChMFc2lwaXQxKTAnBgNVBAsTIFNpcGl0IFRlc3QgQ2VydGlmaWNhdGUgQXV0aG9y
aXR5MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDIh6DkcUDLDyK9BEUxkud
+nJ4xrCVGKfgjHm6XaSuHiEtnfELHM+9WymzkBNzZpJu30yzsxwfKoIKugdNUrD4
N3viCicwcN35LgP/KnbN34cavXHr4ZlqxH+OdKB3hQTpQa38A7YXdaoz6goW2ft5
Mi74z03GNKP/G9BoKOGd5QIDAQABo4HNMIHKMB0GA1UdDgQWBBRrRhcU6pR2JYBU
bhNU2qHjVBShtjCBmgYDVR0jBIGSMIGPgBRrRhcU6pR2JYBUbhNU2qHjVBShtqF0
pHIwcDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcT
CFNhbiBKb3NlMQ4wDAYDVQQKEwVzaXBpdDEpMCcGA1UECxMgU2lwaXQgVGVzdCBD
ZXJ0aWZpY2F0ZSBBdXRob3JpdHmCAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0B
AQUFAAOBgQCWbRvv1ZGTRXxbH8/EqkdSCzSoUPrs+rQqR0xdQac9wNY/nlZbkR3O
qAezG6Sfmklvf+DOg5RxQq/+Y6I03LRepc7KeVDpaplMFGnpfKsibETMipwzayNQ
QgUf4cKBiF+65Ue7hZuDJa2EMv8qW4twEhGDYclpFU9YozyS1OhvUg== 
       </root-cert>
       <root-cert> YmFkIGNlcnQK </root-cert>
       <enrollment-server>https://example.org</enrollment-server>
       <enrollment-server>https://example.net</enrollment-server>
       <self-signed-permitted 
                 digest="sha1">false</self-signed-permitted>
       <bootstrap-node address="192.0.0.1" port="6084" />
       <bootstrap-node address="192.0.2.2" port="6084" />
       <bootstrap-node address="2001:DB8::1" port="6084" />
       <turn-density> 20 </turn-density>
       <multicast-bootstrap address="192.0.0.1" />  
       <multicast-bootstrap address="233.252.0.1" port="6084" />
       <clients-permitted> false </clients-permitted>
       <no-ice> false </no-ice>
       <chord:chord-update-interval>
           400</chord:chord-update-interval>
       <chord:chord-ping-interval>30</chord:chord-ping-interval>
       <chord:chord-reactive> true </chord:chord-reactive>
       <shared-secret> password </shared-secret>
       <max-message-size>4000</max-message-size>
       <initial-ttl> 30 </initial-ttl>
       <overlay-link-protocol>TLS</overlay-link-protocol>
       <kind-signer> 47112162e84c69ba </kind-signer>
       <kind-signer> 6eba45d31a900c06 </kind-signer>
       <bad-node> 6ebc45d31a900c06 </bad-node>
       <bad-node> 6ebc45d31a900ca6 </bad-node>
 
       <ext:example-extension> foo </ext:example-extension>

       <required-kinds>
         <kind-block>
           <kind name="SIP-REGISTRATION">
               <data-model>SINGLE</data-model>
               <access-control>USER-MATCH</access-control>
               <max-count>1</max-count>
               <max-size>100</max-size>
           </kind>
           <kind-signature>
                VGhpcyBpcyBub3QgcmlnaHQhCg==
           </kind-signature>
         </kind-block>
         <kind-block>
           <kind id="2000">
               <data-model>ARRAY</data-model>
               <access-control>NODE-MULTIPLE</access-control>
               <max-node-multiple>3</max-node-multiple>
               <max-count>22</max-count>
               <max-size>4</max-size>
               <ext:example-kind-extension> 1 
                       </ext:example-kind-extension>
           </kind>
           <kind-signature>
              VGhpcyBpcyBub3QgcmlnaHQhCg==
           </kind-signature>
         </kind-block>
       </required-kinds>
   </configuration>
   <signature> VGhpcyBpcyBub3QgcmlnaHQhCg== </signature>
   
   <configuration instance-name="other.example.net">
   </configuration>
   <signature> VGhpcyBpcyBub3QgcmlnaHQhCg== </signature>

 </overlay>
